@charset "UTF-8";

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4CAF50;
}

.login-page {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    margin: 10% auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    text-align: center;
    padding: 45px;
    box-sizing: border-box;
}

.form {
    width: 100%;
}

#register-form {
    display: none;
}

.login-page input {
    width: 100%;
    padding: 18px;
    outline: none;
    border: 0;
    margin: 0 0 15px 0;
    background-color: #f2f2f2;
    box-sizing: border-box;
    font-size: 16px;
    color: #b2b2b2;
}

.login-page form > button {
    width: 100%;
    padding: 16px;
    outline: none;
    border: 0;
    background-color: #4CAF50;
    font-size: 16px;
    color: #ffffff;
    margin: 0 0 15px 0;
    cursor: pointer;
    box-sizing: border-box;
}

.login-page .msg{
    font-size: 14px;
}

.login-page .msg span {
    color: #b2b2b2;
}

.login-page .msg button {
    outline: none;
    border: 0;
    background-color: transparent;
    color: #4CAF50;
    cursor: pointer;
}

.login-page form > button:focus,
.login-page form > button:hover,
.login-page form > button:active {
    background-color: #3C9F40;
}

.login-page .msg button:focus,
.login-page .msg button:hover,
.login-page .msg button:active {
    color: #3C9F40;
}

@media (max-width: 400px) {
    .login-page {
        padding: 45px 20px;
    }
}